.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cuadrado {
    height: 300px;
    width: 300px;
    border: 10px solid black;
    background-color: blue;
}
.cuadradito{
    background: #2db34a;
    border-radius: 30px;
    transition-property: background, border-radius;
    transform: scale(0.8);
    transition-duration: .5s, 5s;
}
.cuadradito:hover{
    background-color: orange;
    border-radius: 50%;
}
